@model List<CV_App.ViewModels.ResumeVM>

@foreach (var resume in Model.Where(q => q.ProfilePath != null))
{
<div class="d-flex flex-column resumecontainer mb-3">
    <div class="resumeheader bg-sec text-white d-flex justify-content-center align-items-center"><h4 class="name">@resume.Title</h4></div>
    <div class="h-100 d-flex flex-row resumetext bg-white">
        <div class="h-100 leftresumecolumn">
            <div class="profileimage resumesection">
                <img src="@("~/Profiles/" + resume.ProfilePath)" asp-append-version="true" />
            </div>
                <section class="resumesection contacts">
                    @foreach (var section in resume.Sections)
                    {
                        if (section.IsInLeftSection)
                        {
                            <label>@(section.Label)</label>
                            foreach (var textrow in section.TextRows)
                            {
                                <p>@(textrow)</p>
                            }
                        }
                    }
                </section>
            </div>
        <div class="w-100 h-100 rightresumecolumn">
            @foreach (var sectionVM in resume.Sections.Where(q => !q.IsInLeftSection))
            {
                <section class="resumesection">
                    <label>@sectionVM.Label</label>
                    @foreach (var textrow in sectionVM.TextRows)
                    {
                        <p>@textrow</p>
                    }
                   
                </section>
            }
        </div>
    </div>
</div>   
}

